@{
    ViewData["Title"] = "add image";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
<hr>
<h3>@ViewData["test"]</h3>



<form method="post" enctype="multipart/form-data" action="Add"  controller="Home" >
    <div class="form-group">
        <div class="col-md-10">
            <p>Upload one or more files using this form:</p>
            @if( !String.IsNullOrEmpty(Convert.ToString( ViewData["test"])) )
            {
                <img src="@ViewData["test"]"  width="200" alt="your image"  />
            }

            <img id="blah" src="@ViewData["test"]" alt="your image" style="display:none"  />
            
            <input type="file" name="files" onchange="readURL(this);" accept="image/jpeg, image/png"  />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Upload" />
        </div>
    </div>
</form>


<script>    

    function readURL(input) {

        document.getElementById('blah').style.display = 'block';
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(200)
                    .height(200);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

</script>